In [2]:
import sqlite3
con=sqlite3.connect("/workspaces/ravikumar/project/bank/code.db")
cur=con.cursor()
cur.execute("select * from loan")
print(cur.fetchall())

[]

In [3]:
class payment:
    def __init__(self,loan_id,payment_no,payment_amount,con,cur):
        self.loan_id=loan_id
        self.payment_no=payment_no
        self.payment_amount=payment_amount
        self.cur=cur
        self.con=con
    def pay(self):
        self.cur.execute(f"SELECT amount from loan where loan_id={self.loan_id}")
        am=self.cur.fetchone()
        amount=am[0]
        self.cur.execute(f"SELECT min(balance) from payment where loan_id={self.loan_id}")
        balan=self.cur.fetchone()
        bal=balan[0]
        if(self.payment_amount>bal):
            print("money overflow")
        else:
            balance=bal-self.payment_amount
            print(amount,balance)
            self.cur.execute(f"insert into payment values ({self.loan_id},{self.payment_no},datetime('now'),{self.payment_amount},{amount},{balance})")
            self.con.commit()
            if(balance==0):    
                print("loan over")   
                self.cur.execute(f"delete from payment where loan_id={self.loan_id}")

In [4]:
cur.execute("select * from loan")
cur.fetchall()

[]

In [5]:
cur.execute("SELECT min(balance) from payment")
bal=cur.fetchone()
balance=bal[0]
balance

In [6]:
obj=payment(1,6,15000,con,cur)
obj.pay()

TypeError: 'NoneType' object is not subscriptable

In [8]:
cur.execute("select * from banker")

cur.fetchall()

[(1, 2), (1, 3), (2, 2), (2, 5), (2, 4), (3, 2), (4, 3), (4, 5), (5, 1)]

In [ ]:
con.commit()

In [ ]:
cur.execute("select datetime('now')")
cur.fetchone()

('2023-02-23 07:56:49',)

In [ ]:
cur.execute("select distinct(loan_id) from payment where loan_id not in (select loan_id from completed_loans)")
cur.fetchall()

[(1,)]

In [ ]:
cur.execute("INSERT INTO loan(loan_id,cust_id,b_code,amount,given_date) VALUES(2,2,2,100000,'2023-02-01')")

OperationalError: no such column: loan_id